<%- include('header'); %>
  <div class="container col-xxl-8 px-4 py-0">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../images/dairy.png" class="d-block mx-lg-auto img-fluid" alt="Dairy-Image" width="500" height="300"
          loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Daily Journal</h1>
        <p class="lead">
          Welcome to the Daily Journal, your heaven of reflection and growth. Celebrate the power of words and
          self-expression as you document dreams, reflect on your journey, and capture everyday magic. Dive into this
          serene space, unleash your creativity, and cultivate a deeper connection with yourself. Every page is a new
          beginning.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="#journals"> <button type="button" class="btn btn-dark btn-lg px-4 me-md-2">Explore</button></a>

        </div>
      </div>
    </div>
  </div>
  <section id="journals">
    <div class="container col-xxl-8 px-4 py-0">
      <h1>Journals</h1>
      <div class="row">
        <% if (journals.length> 0) { %>
          <% journals.forEach(function(journal) { %>
            <div class="col-md-3 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= journal.title %>
                  </h5>
                  <p class="card-text">
                    <%= journal.content.substring(0,150) + " ..." %>
                      <a href="/journal/<%= journal.userId%>">Read More</a>
                  </p>
                  <p class="card-text"><small class="text-muted">
                      <%= new Date(journal.date).toLocaleDateString() %>
                    </small></p>
                </div>
              </div>
            </div>
            <% }); %>
              <% } else { %>
                <p>No journals found.</p>
                <% } %>
      </div>
    </div>
  </section>
  <%- include('footer'); %>