<%- include('header'); %>
    <div class="container">
        <h2>
            <%=title%>
        </h2>
        <p>
            <%=content%>
        </p>
        <p><small>
                <%=date%>
            </small></p>
    </div>
    <%- include('footer'); %>